* {
	-moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
ul,li{
  list-style: none;
}
.language-container span{
  margin: 7px;
  padding: 5px;
  border: 3px solid white;
  border-radius: 4px;
  cursor: pointer;
  color:white;
}
footer{
  width: 100%;
  height: 50px;
  padding: 10px;
  line-height: 3;
  opacity: 0.5;
  text-align: center;
}
.giticon{
  opacity: 0.5;
}
.giticon:hover{
  opacity: 1;
}
.callout{
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-color: #b56666;
  border-bottom-color: #fbfbfbf2;
  right: 140px;
  padding: 0;
  z-index: 0;
  top: 66px;
}
.header_menu{
    position: absolute;
    display: flex;
    width: 150px;
    /*height: 20%;*/
    padding:0px;
    z-index: 3;
    background: #fbfbfbf2;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0px #ababab;
    right: 65px;
}
.menu_list{
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-grow: 1;
}
.menu_list li{
  cursor: pointer;
  text-align: center;
  margin: 7px;
  color: #7b8280;
  font-family: -webkit-body;
}
.m_show{
  visibility:visible;
}
.m_hide{
  visibility: hidden;
}
.App-logo {
  height: 40vmin;
}
.upbtn{
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 35px;
  background-color: #404040e6;
  color:white;
  right: 30px;
  bottom: 30px;
  text-align: center;
  box-shadow: 3px 3px 8px 0px #00000091;
  z-index: 1;
}
.upbtn a{
  position: relative;
  top: 20px;
  color: white;
}
@keyframes fadeIn{
  from{
      opacity: 0;
  }to{
      opacity: 1;
  }
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
@media(min-width:320px){
  .language-container{
    display: -webkit-inline-box;
    position: relative;
    left: 0%;
    top: 25px;
    font-weight: 500;
    font-size: 1.0rem;
    align-self: center;
  }
  .language-container span{
    margin: 7px;
    padding: 5px;
    border: 3px solid white;
    border-radius: 4px;
    cursor: pointer;
    color:white;
  }
}
@media(min-width:360px){
  .language-container{
    display: -webkit-inline-box;
    position: relative;
    left: 7%;
    top: 30px;
    font-weight: 500;
    font-size: 1.5rem;
  }
  .language-container span{
    margin: 7px;
    padding: 5px;
    border: 3px solid white;
    border-radius: 4px;
    cursor: pointer;
    color:white;
  }
}
@media(min-width:425px){
  .language-container{
    display: -webkit-inline-box;
    position: relative;
    left: 18%;
    top: 30px;
    font-weight: 500;
    font-size: 1.2rem;
  }
}
@media(min-width:768px){
  .language-container{
    display: -webkit-inline-box;
    position: relative;
    left: 61%;
    top: 0;
    font-weight: 500;
    font-size: 0.9rem;
  }
}
@media(min-width:1024px){
  .language-container{
    display: -webkit-inline-box;
    position: relative;
    left: 75%;
    top:0;
    font-weight: 500;
    font-size: 0.9rem;
  }
  .language-container span{
    margin: 7px;
    padding: 5px;
    border: 3px solid white;
    border-radius: 4px;
    cursor: pointer;
    color:white;
  }
}

