/* Mobile Device */
.movie_wrapper{
    display:block;
    padding:40px;
}
.movie_title {
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 0px;
}
.overview h3{
    font-size: 1.5rem;
}

.img_container img{
    height: 500px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    animation: fadeIn 4.5s;
}
/* Tablet Device */
@media all and (min-width:768px) {
    .movie_wrapper{
        display:flex;
    }
    .movie_title {
        font-size: 2.5rem;
        display: inline-block;
        margin-bottom: 0px;
    }
    .overview h3{
        font-size: 2.0rem;
    }
    .img_container img{
        height: 500px;
        width:300px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
.detail{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding:0px;
    z-index: 1;
}
.custom_bg{
    width: 100%;
    background-image: radial-gradient(circle at 20% 50%, rgba(50, 20, 20, 0.61) 0%, rgba(0, 0, 0, 0.88) 100%);
}
.info_container{
    color:white;
    margin-left: 20px;
}

.overview p{
    font-size: 1rem;
    line-height: 1.4em;
    font-weight: 500;
}
.menu h3{
    margin: 20px auto;
    font-size: 1.5rem;
}
.review_container{
    margin: 20px auto;
}
.card{
    border: 1px solid #e3e3e3;
    padding: 20px 40px 20px 40px;
    box-shadow:1px 3px 10px 1px grey;
    margin: 35px 50px;
}
.review_content{
    display: -webkit-box;
    -webkit-line-clamp: 14;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.2em;
    font-size: 1.2rem;
    text-align: justify;
    /* height: 300px; */
    height: 16.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}
.read_all{
    font-size: 1.0rem;
    padding-left: 40px;
    padding-right: 40px;
}
.review_notice{
    font-size: 1.2rem;
    padding-left: 120px;
    padding-right: 120px;
}
