header div{
    padding-left:20px;
    padding-right:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    background-color: #b5666682;
}
header h1{
    display: initial;
    background-color: white;
    border: black solid 5px;
    padding: 5px;
    cursor: pointer;
}
header h1 a{
    color:#882200;
}
.movies_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.btns{
    width: fit-content;
    margin: 0 auto;
    padding-top:10px;
    padding-bottom: 10px;
}
.btns button{
    height: 50px;
    width: 150px;
    border-radius: 10px;
}