header h1 a {
  color: #882200;
}
header div {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  background-color: #b56666;
}
.btns button {
  box-shadow: 3px 3px 4px 2px #00000059 !important;
  font-family: -webkit-body;
}
.btns {
  width: fit-content;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btns button:active {
  transform: scale(0.9);
}
.btns button:disabled {
  background-color: #0826b9a8;
  color: white;
}
@media all and (min-width: 768px) {
  .movies {
    background-color: rgb(239, 239, 239);
    width: 65%;
  }
  .btns span {
    padding-left: 20px;
    padding-right: 20px;
  }
  .btns button {
    all: unset;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    margin: 3px;
    background-color: #0826b9d9;
    color: white;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
  }
  header h1 {
    display: inline-block;
    background-color: white;
    border: black solid 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) and (min-width: 426px) {
  .movies {
    background-color: rgb(239, 239, 239);
    width: 60%;
  }
  header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0;
    background-color: #b56666;
  }
  .btns span {
    padding-left: 20px;
    padding-right: 20px;
  }
  .btns button {
    all: unset;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    margin: 3px;
    background-color: #0826b9d9;
    color: white;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
  }
  header h1 {
    display: inline-block;
    background-color: white;
    border: black solid 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 1.3rem;
  }
}
@media (max-width: 425px) and (min-width: 367px) {
  .movies {
    background-color: rgb(239, 239, 239);
    width: 50%;
  }
  .btns span {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.2rem;
  }
  .btns button {
    all: unset;
    height: 50px;
    width: 18rem;
    border-radius: 10px;
    margin: 3px;
    font-size: large;
    background-color: #0826b9d9;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  header div {
    height: 65px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    background-color: #b56666;
  }
  header div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header h1 {
    display: inline-block;
    background-color: white;
    border: black solid 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    top: 0px;
    position: relative;
    left: 0%;
  }
}
@media (max-width: 366px) and (min-width: 320px) {
  .movies {
    background-color: rgb(239, 239, 239);
    width: 60%;
  }
  .btns span {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.2rem;
  }
  .btns button {
    all: unset;
    height: 50px;
    width: 18rem;
    border-radius: 10px;
    margin: 3px;
    font-size: large;
    background-color: #0826b9d9;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  header div {
    display: flex;
    height: 65px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    background-color: #b56666;
  }
  header div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header h1 {
    display: inline-block;
    background-color: white;
    border: black solid 5px;
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    font-size: 1.3rem;
    position: relative;
    text-align: center;
  }
}
.movies_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
