header h1 a{
    color:#882200;
}
header div{
    padding-left:20px;
    padding-right:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    background-color: #b5666682;
}
.select_wrapper{
    width: 100%;
    height: 25px;
    position: relative;
    text-align: right;
    right: 60px;
    margin-top: 20px;
}
.select_wrapper span{
    padding-right: 5px;
    font-size: larger;
}
.select_wrapper select{
    width: 250px;
    height: 30px;
    border: 1px solid #8d949461;
}
@media(min-width:426px){
    .btns span{
        padding-left: 20px;
        padding-right: 20px;
    }
    .btns button{
        height: 50px;
        width: 150px;
        border-radius: 10px;
        margin: 3px;
        background-color: #0826b9d9;
        color: white;
    }
    .btns button:disabled{
        background-color: #0826b9a8;
        color: white;
    }
    header h1{
        display: initial;
        background-color: white;
        border: black solid 5px;
        padding: 5px;
        cursor: pointer;
        font-size: 1.3rem;
    }
}
@media(max-width:425px) and (min-width:320px){
    .btns span{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 0.2rem;
    }
    .btns button{
        height: 50px;
        width: 50px;
        border-radius: 10px;
        margin: 3px;
        background-color: #0826b9d9;
        color: white;
    }
    .btns button:disabled{
        background-color: #0826b9a8;
        color: white;
    }
    header div{
        height: 150px;
        padding-left:20px;
        padding-right:20px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0;
        background-color: #b5666682;
    }   
    header h1{
        display: initial;
        background-color: white;
        border: black solid 5px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
        font-size: 1.8rem;
        top: 30px;
        position: relative;
        left: 5%;
    }
    .select_wrapper span{
        padding-right: 5px;
        font-size: larger;
    }
    .select_wrapper select{
        width: 250px;
        height: 50px;
        border: 1px solid #8d949461;
        font-size: 1.2rem;
    }
    .select_wrapper{
        width: 100%;
        height: 60px;
        position: relative;
        text-align: right;
        right: 60px;
        margin-top: 20px;
        /*font-size: 2.0rem;*/    
    }
}

.movies_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.btns{
    width: fit-content;
    margin: 0 auto;
    padding-top:10px;
    padding-bottom: 10px;
}

