.m_container{
    display: flex;
    padding-top: 10px;
}
.m_aside{
    position: static;
    width: 25%;
}
.m_aside>div{
    position: fixed;
    left:100px;
    width: 200px;
    margin: auto auto;
    border: 5px solid rgba(109, 107, 107, 0.13);
    padding: 10px;
}
.m_div{
    box-sizing: border-box;
    width: 75%;
}
.m_wrapper div{
    display: inline-table;
}

@media(min-width:768px){
    .m_div img{
        width: 200px;
        height: 200px;
    }
    .m_aside>div>img{
        width: 150px;
        box-sizing: border-box;
    }
}
@media(min-width:1440px){
    .m_div img{
        width: 300px;
        height: 400px;
    }
    .m_aside>div>img{
        width: 200px;
        box-sizing: border-box;
    }
}
@media(width:768px){
    .m_div img{
        width: 180px;
        height: 180px;
    }
    .m_aside>div>img{
        width: 150px;
        box-sizing: border-box;
    }
}
.m_item{
    display:contents;
    column-gap:15px;
    padding-left: 5px;
    padding-right: 5px;
}
.m_item div{
    display: block;
    margin-top: 10px;
    width: 300px;
}
.actor_info[arial-expanded=false]{
    position: relative;
    overflow: hidden;
    height: 300px;
    transition: height 200ms;
}
.actor_info[arial-expanded=true]{
    position: relative;
    height: 390px;
    
}
.shade{
    width: 65%;
    height: 100%;
    position: absolute;
    background-image: -webkit-linear-gradient(top,rgba(243,243,243,0) 0%,#fff 100%);
    top: auto;
    bottom: 0;
    visibility: visible;
}
.actor_info p{
    font-size: 20px;
    line-height: 1.428571429;
    color: #333;
    width: 65%;
}
.m_div div>span{
    cursor: pointer;
}