.m_container {
  display: flex;
  padding-top: 10px;
}
@media (min-width: 1440px) {
  .m_div img {
    height: 250px;
    border-radius: 10px;
  }
  .m_aside {
    position: static;
    width: 25%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .m_aside > div > img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .m_aside > div {
    left: 50px;
    width: 200px;
    height: 250px;
    border: 5px solid rgba(109, 107, 107, 0.13);
    padding: 10px;
    box-shadow: 0 0 20px 0 #666;
    border-radius: 5px;
  }
  .m_aside p {
    padding: 5px;
    border-bottom: 1px solid #58555591;
  }
  .m_aside a {
    padding: 7px 0;
    transition: all 0.5s;
    font-size: 1rem;
  }
  .actor_info p {
    font-size: 1rem;
    line-height: 1.428571429;
    color: #333;
    width: 65%;
  }
  .m_div div > span {
    cursor: pointer;
    font-size: 1rem;
  }
  .actor_info[arial-expanded="true"] {
    position: relative;
    padding-bottom: 10px;
    max-height: 1000px;
    transition: max-height 300ms;
  }
  .m_item div {
    display: block;
    margin-top: 10px;
    width: 300px;
    font-size: 1rem;
  }
  .m_item p {
    text-overflow: ellipsis;
    white-space: pre;
    width: auto;
    overflow: hidden;
  }
  #actor_name {
    font-size: 1.2rem;
  }
  .shade {
    width: 65%;
  }
}
@media (max-width: 1439px) and (min-width: 768px) {
  .m_div img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
  .m_aside {
    position: static;
    width: 25%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .m_aside > div > img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .m_aside > div {
    width: 150px;
    height: 195px;
    border: 5px solid rgba(109, 107, 107, 0.13);
    padding: 10px;
    box-shadow: 0 0 20px 0 #666;
    border-radius: 5px;
  }
  .m_aside p {
    padding: 5px;
    border-bottom: 1px solid #58555591;
  }
  .m_aside a {
    padding: 7px 0;
    transition: all 0.5s;
    font-size: 1rem;
  }
  .actor_info p {
    font-size: 1rem;
    line-height: 1.428571429;
    color: #333;
    width: 65%;
  }
  .m_div div > span {
    cursor: pointer;
    font-size: 1rem;
  }
  .actor_info[arial-expanded="true"] {
    position: relative;
    padding-bottom: 10px;
    max-height: 1000px;
    transition: max-height 300ms;
  }
  .m_item div {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
  }
  .m_item p {
    text-overflow: ellipsis;
    white-space: pre;
    width: auto;
    overflow: hidden;
    width: 140px;
    margin: 0;
  }
  #actor_name {
    font-size: 1.5rem;
  }
  .shade {
    width: 65%;
  }
  .m_wrapper a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: 250px;
    margin: 5px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .m_div img {
    width: 130px;
    height: 150px;
    border-radius: 10px;
  }
  .m_aside {
    position: static;
    width: 30%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .m_aside > div > img {
    width: 65px;
    height: 120px;
    box-sizing: border-box;
  }
  .m_aside > div {
    left: 0px;
    height: 155px;
    width: 95px;
    border: 5px solid rgba(109, 107, 107, 0.13);
    padding: 10px;
    box-shadow: 0 0 20px 0 #666;
    border-radius: 5px;
  }
  .m_aside p {
    padding: 5px;
    border-bottom: 1px solid #58555591;
  }
  .m_aside a {
    padding: 7px 0;
    transition: all 0.5s;
    font-size: 0.7rem;
  }
  .actor_info p {
    font-size: 0.7rem;
    line-height: 1.428571429;
    color: #333;
    width: 80%;
  }
  .m_div div > span {
    cursor: pointer;
    font-size: 0.9rem;
  }
  .actor_info[arial-expanded="true"] {
    position: relative;
    padding-bottom: 10px;
    max-height: 3000px;
    transition: max-height 300ms;
  }
  .m_item div {
    display: block;
    margin-top: 10px;
    font-size: 0.7rem;
  }
  .m_item p {
    text-overflow: ellipsis;
    white-space: pre;
    width: auto;
    overflow: hidden;
    margin: 0;
    width: 120px;
  }
  #actor_name {
    font-size: 1rem;
  }
  .shade {
    width: 80%;
    height: 100%;
    position: absolute;
    background-image: -webkit-linear-gradient(
      top,
      rgba(243, 243, 243, 0) 0%,
      #fff 100%
    );
    top: auto;
    bottom: 0;
    visibility: visible;
  }
  .m_wrapper a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 250px;
    margin: 5px;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .m_div {
    box-sizing: border-box;
    width: 75%;
    overflow-y: scroll;
    padding-left: 5%;
  }
  .m_aside {
    position: static;
    width: 30%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .m_div article {
    padding-bottom: 10px;
  }
  .m_div article span {
    font-size: 0.7rem;
  }
  .m_div img {
    width: 100px;
    height: 120px;
    border-radius: 10px;
  }
  .m_aside > div > img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .m_aside > div {
    left: 0px;
    height: 155px;
    width: 95px;
    padding: 10px;
    box-shadow: 0 0 20px 0 #666;
  }
  .m_aside p {
    padding: 5px;
    border-bottom: 1px solid #58555591;
  }
  .m_aside a {
    padding: 7px 0;
    transition: all 0.5s;
    font-size: 0.7rem;
  }
  .actor_info p {
    font-size: 0.6rem;
    line-height: 1.428571429;
    color: #333;
    width: 80%;
  }
  .m_div div > span {
    cursor: pointer;
    font-size: 0.9rem;
  }
  .actor_info[arial-expanded="true"] {
    position: relative;
    padding-bottom: 10px;
    max-height: 3000px;
    transition: max-height 300ms;
  }
  .m_item div {
    display: block;
    width: 100%;
    font-size: 0.5rem;
    margin-top: 5px;
  }
  #actor_name {
    font-size: 1rem;
  }
  .shade {
    width: 80%;
    height: 100%;
    position: absolute;
    background-image: -webkit-linear-gradient(
      top,
      rgba(243, 243, 243, 0) 0%,
      #fff 100%
    );
    top: auto;
    bottom: 0;
    visibility: visible;
  }
  .m_wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 150px;
    margin: 3px;
  }
  #credits {
    font-size: 1rem;
  }
}
.m_div {
  box-sizing: border-box;
  width: 75%;
  overflow-y: scroll;
}
.m_wrapper {
  display: flex;
  overflow-x: scroll;
}
.m_item {
  display: contents;
  column-gap: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  border: 1px solid #c3bdc333;
  text-align: center;
}
.m_item div {
  display: block;
}

.actor_info[arial-expanded="false"] {
  position: relative;
  overflow: hidden;
  max-height: 300px;
  transition: max-height 300ms;
}
h3[showup="false"] {
  display: none;
}
