.recommendation{
    margin: 0 auto;
    width: 1300px;
}
.recommendation_container{
    display: -webkit-box;
    -webkit-overflow-scrolling: touch;
    width: 1200px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    box-sizing: border-box;
    padding-bottom: 16px;
    padding-right: 120px;
    padding-left: 120px;
}
.MuiCardContent-root:last-child {
    /* padding-bottom: 24px; */
    padding-bottom: 0px;
}
.recommendation_container::-webkit-scrollbar{
    display: none;
}
.recommendation_wrapper{
    margin: 10px;
    cursor: pointer;
}
.recommendation_wrapper div{
    padding:0;
}
.recommendation_wrapper img{
    width: 320px;
    height: 300px;
}
.recommendation_wrapper p{
    font-size:1.0rem;
}