.back{
    cursor: pointer;
    color:white;
    padding: 20px;
    width: 100%;
    background-image: radial-gradient(circle at 20% 50%, rgba(50, 20, 20, 0.61) 0%, rgba(0, 0, 0, 0.88) 100%);
}
.back h3{
    color:#ffffff9c;
}
.review_list{
    margin: 20px auto;
    width: 1300px;
}
.review{
    margin: 0 auto;
    width: 1300px;
}
.all{
    line-height: 1.2em;
    font-size: 1.3rem;
    text-align: justify;
    /* height: 300px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}