.back {
  cursor: pointer;
  color: white;
  padding: 20px;
  width: 100%;
  background-image: radial-gradient(
    circle at 20% 50%,
    rgba(50, 20, 20, 0.61) 0%,
    rgba(0, 0, 0, 0.88) 100%
  );
}
.back h3 {
  color: #ffffff9c;
}
.review_list {
  margin: 20px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review_list .card {
  width: 80%;
  height: auto;
}
.review_list .card .review_content {
  width: 100%;
  height: auto;
  padding: 15px;
  background: #e3e3e3;
  border-radius: 10px;
  -webkit-line-clamp: 7;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-review {
  margin: 0 auto;
  width: 80%;
  height: auto;
}
.all {
  line-height: 1.2em;
  font-size: 0.9rem;
  text-align: justify;
  /* height: 300px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}
@media (max-width: 424px) and (min-width: 320px) {
  .back {
    cursor: pointer;
    color: white;
    padding: 20px;
    width: 100%;
    background-image: radial-gradient(
      circle at 20% 50%,
      rgba(50, 20, 20, 0.61) 0%,
      rgba(0, 0, 0, 0.88) 100%
    );
  }
  .back h3 {
    color: #ffffff9c;
  }
  .review_list {
    margin: 20px auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .review_list .card .review_content {
    width: 100%;
    padding: 15px;
    margin-right: 0 !important;
    background: #e3e3e3;
    border-radius: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 13;
    word-break: break-all;
  }
  .user-review {
    margin: 0 auto !important;
    width: 100% !important;
  }
  .all {
    line-height: 1.2em;
    font-size: 0.9rem !important;
    text-align: justify;
    /* height: 300px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
}
