.userpage-container{
    
}
.u div{
    width: 50%;
    height: 30px;
    display: inline-block;
    background-color: #bb3a3a;
    font-weight: 600;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 2;
}
#fav a,#edi a{
    color:white;
}
#fav:hover,#edi:hover{
    background-color: #650000;
}